.destaque {
  background: url(../imagens/destaque.jpg) center bottom repeat-x;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
  height: 330px;
  padding-top: altera-tamanho (10);

  p {
    width: altera-tamanho (30);

    &:first-child {
      width: altera-tamanho (30);
      font-size: 1.3 * $fonte-teste;
      line-height: 1.1;

      &:first-line {
        font-size: 2.2 * $fonte-teste;
        font-weight: bold;
      }
    }
  }
  button {
    margin-top: altera-tamanho (1);
    background: $cor-teste;
    border: 0;
    padding: altera-tamanho (.6);
    font-size:  altera-tamanho (1.2);
    @include borda-arredondada(50px);
    @extend %sombra-button;
    font-weight: bold;
  }

  @media (#{$mediaq}) {
    font-size: 14px;
		height: 250px;
  }
}

    
    


  